<div class="tui-container tui-container_fullwidth">
  <div class="tui-row tui-row_adaptive">
      <div class="tui-col_xs-12 tui-col_md-12 tui-col_lg-12">
        <tui-tabs [(activeItemIndex)]="activeItemIndex">
          <button
              *ngFor="let item of items"
              tuiTab
              tuiRipple="var(--tui-text-01)"
              (click)="onClick(item.text)"
          >
              <tui-svg class="tui-space_right-2" [src]="item.icon"></tui-svg>
              {{item.text}}
          </button>
        </tui-tabs>
        <div style="justify-content: center;">
        <tui-input-count
          class="tui-space_top-4"
          [max]="2"
          [(ngModel)]="activeItemIndex"
        >
        <form [formGroup]="detailsForm" (ngSubmit)="
        createPersonalDetailsForm(
          detailsForm.valid,
          detailsForm.value
        )">
          <div class="tui-row tui-row_adaptive tui-row_example tui-row_align_center justify-content-center">
            <div class="tui-col_xs-12 tui-col_md-8 tui-col_lg-6">
          <div *ngIf="personalDetail">
            <div class="tui-form__row tui-form__row_multi-fields align-center">
              <div class="tui-col_xs-11 tui-col_md-11 tui-col_lg-11 p-0 mt-2" >
            <tui-input formControlName="name">
              Name
            </tui-input>
            </div>
            </div>
            <div class="tui-form__row tui-form__row_multi-fields align-center">
              <div class="tui-col_xs-11 tui-col_md-11 tui-col_lg-11 p-0 mt-2" >
            <tui-input formControlName="age">
              Age
            </tui-input>
            </div></div>
            <div class="tui-form__row tui-form__row_multi-fields align-center">
              <div class="tui-col_xs-11 tui-col_md-11 tui-col_lg-11 p-0 mt-2" >
            <tui-input formControlName="location">
              Location
            </tui-input>
            </div></div>
          </div>
            <div formArrayName="address" *ngIf="addressDetail">
              <div *ngFor="let group of address.controls; index as i; first as first"
              [formGroupName]="i">

              <div class="tui-form__row tui-form__row_multi-fields align-center">
                <div class="tui-col_xs-11 tui-col_md-11 tui-col_lg-11 p-0 mt-2" >
              <tui-input formControlName="number" tuiIconPlusLarge>
                Number
              </tui-input>
            </div>
            <div class="tui-col_xs-1 tui-col_md-1 tui-col_lg-1 p-0 text-center">
              <tui-svg src="tuiIconPlusLarge" class="icon" (click)="addAddressForm()" *ngIf="first"></tui-svg>
              <tui-svg src="tuiIconCloseLarge" class="icon" (click)="removeJournalVoucher(i)" *ngIf="detailsForm?.value?.address?.length > 1"></tui-svg>
              </div>
              </div>
              <div class="tui-form__row">
                <div class="tui-col_xs-11 tui-col_md-11 tui-col_lg-11 p-0">
              <tui-input formControlName="streetName" >
                Street Name
              </tui-input>
                </div>
            </div>
            <div class="tui-form__row">
              <div class="tui-col_xs-11 tui-col_md-11 tui-col_lg-11 p-0">
              <tui-input formControlName="city">
                City
              </tui-input>
            </div>
              </div>
              </div>
            </div>
          <div *ngIf="officeAddress">
            <tui-input formControlName="officeAddress">
              Office Address
            </tui-input>
          </div>
          <div class="align-text" *ngIf="officeAddress">
              <button tuiButton type="submit" appearance="accent"> Cancel </button>
              <button tuiButton type="submit" appearance="primary" [disabled]="detailsForm.invalid"> Save </button>
          </div>
    </div>
    </div>
          </form>
        </tui-input-count>
        </div>

        </div>
        </div>
        </div>




